* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


/* HEADER */

header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 236, 210, 0.39) 0%, rgba(151, 240, 236, 0.2) 100%), url(../img/uno.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.iconomenu {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out;*/
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, rgba(0, 0, 0, .5));
}

.spread {
    transform: translate(0);

}

.menu-navegacion {
    color: #fff;
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
}

/* Servicios */

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #aac9d3;
    font-size: 40px;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicios img {
    width: 40%;
}

.checklist-servicios {
    width: 40%;
}

.service {
    margin-bottom: 20px;
}

.n-service {
    margin-bottom: 20px;
    color: #986a4d
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #986a4d 0%, #aac9d3 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/* Galeria */

.galeria {
    background: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* Acerca de mi */

.aptitudes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-aptitudes {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-aptitudes img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-description {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* Footer */

footer {
    background: #f2f2f2;
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #aac9d3;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #aac9d3;
    border-radius: 50%;
    text-align: center;
    color: #aac9d3;
}

.social-media-icon:hover {
    background-color: #aac9d3;
    color: aqua;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #aac9d3;
    margin-bottom: 60px;
}